/* General - Estilo del cuerpo */
body {
    font-family: Arial, sans-serif;
    background: url("/static/back-register.jpg") no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Asegura que el contenido no se desborde de la pantalla */
}

/* Contenedor principal del formulario */
.container {
    background: rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Mayor ancho */
    height: 80vh; /* Asegura que sea más alto */
    display: flex;
    flex-direction: row; /* Distribuir en dos columnas */
    justify-content: space-between;
    gap: 30px; /* Espaciado entre las columnas */
    overflow-y: auto; /* Evita que el contenido se desborde */
}

/* Logo */
.logo {
    max-width: 180px;
    margin-bottom: 20px;
}

/* Título */
h2 {
    margin-bottom: 10px;
}

/* Enlace de navegación */
a {
    display: block;
    margin-bottom: 10px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado entre los elementos */
    width: 48%; /* Cada columna tendrá un 48% del ancho total */
}

/* Grupos de formulario */
.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Etiquetas */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Campos de entrada */
input {
    padding: 8px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

/* Botón */
button {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Mensaje de éxito */
.mensaje {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
