<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login - ParketPlace</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    </style>
    <div class="container-fluid vh-100 d-flex">
        <!-- Formulario a la izquierda -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card">
                <!-- Logo -->
                <img src="{{ url_for('static', filename='logoparket.jfif') }}" alt="ParketPlace Logo">

                <!-- Título -->
                <h3>Bienvenido a ParketPlace</h3>

                <!-- Mensaje de error -->
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <!-- Formulario de inicio de sesión -->
                <form method="POST">
                    <input type="text" name="usuario" placeholder="Usuario" required>
                    <input type="password" name="contrasena" placeholder="Contraseña" required>
                    <button type="submit">Iniciar Sesión</button>
                </form>

                <!-- Botón de registro -->
                <a href="{{ url_for('register') }}" class="btn-secondary">Registrarse</a>

                <!-- Nuevo botón -->
                <a href="{{  url_for('visitor_register') }}" class="btn-secondary mt-2">Ingreso de Visitantes</a>
            </div>
        </div>

        <!-- Imagen de fondo a la derecha -->
        <div class="col-md-6 d-none d-md-block background-image"></div>
    </div>
</body>
</html>
